<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilePrograming"
        tools:targetApi="31">
        <activity
            android:name=".Detail15Activity"
            android:exported="false" />
        <activity
            android:name=".Detail14Activity"
            android:exported="false" />
        <activity
            android:name=".Detail13Activity"
            android:exported="false" />
        <activity
            android:name=".MDetail13Activity"
            android:exported="false" />
        <activity
            android:name=".Detail12Activity"
            android:exported="false" />
        <activity
            android:name=".Detail11Activity"
            android:exported="false" />
        <activity
            android:name=".Detail10Activity"
            android:exported="false" />
        <activity
            android:name=".Detail9Activity"
            android:exported="false" />
        <activity
            android:name=".Detail8Activity"
            android:exported="false" />
        <activity
            android:name=".Detail7Activity"
            android:exported="false" />
        <activity
            android:name=".Detail6Activity"
            android:exported="false" />
        <activity
            android:name=".Detail5Activity"
            android:exported="false" />
        <activity
            android:name=".Detail2Activity"
            android:exported="false" />
        <activity
            android:name=".Detail4Activity"
            android:exported="false" />
        <activity
            android:name=".Detail3Activity"
            android:exported="false" />
        <activity
            android:name=".Detail1Activity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".List3Activity"
            android:exported="false" />
        <activity
            android:name=".List2Activity"
            android:exported="false" />
        <activity
            android:name=".List1Activity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".KategoriActivity"
            android:exported="false" />
        <activity
            android:name=".TentangActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>